@import "../../App.module.scss";

.cart {
    @include unique-container();

    .cartElements {

        display:flex;
        flex-direction: column;

        .cartList {
            width: 740px;
        }
    
        .cartHeader {
            font-size: 25px;
            margin: 0 24px
        }
    
        .cartFooter {
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            margin: 0 24px
        }
    
        .cartItems {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .deleteIcon {
                margin: 26px;
                cursor: pointer;
    
                svg {
                    width: 25px;
                    height: 25px;
                    color: $bg-dark-color
                }
            }
        }
    
        .continueBtn {
            margin: 10px 0;
            align-self: flex-end;
            width: 150px;
        }
    }  
}

.cartCard {
    margin: 0;
    display: flex;
    flex: 1;
    
    .cardContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .productPhoto {

            img {
                width: 75px;
                border-radius: 15px;
                margin-right: 24px;
                cursor: pointer;
            }

        }

        .productDetails {
            display: flex;
            align-items: center;

            h1 {
                font-size: 22px;
            }

            .spin {
                margin: 10px;
    
                span {
    
                    i {
                        background-color: $bg-dark-color
                    }
                }
            }
    
            .editQty {
                margin-right: 24px;
                display: flex;
    
                .inputNumber {
                    width: 120px;
    
                    input {
                        text-align: center;
                        height: 40px;
                    }
                    
                }
    
                button {
                    font-size: 20px;
                    font-family: 'Courier New';
                    font-weight: 700;
                }
            }
    
            .amount {
                font-size: 22px;
            }
        }

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 260px;
    }
    
}

@media screen and (max-width: 760px) {
    $size: 120px;

    .cart {
        margin: 25px;

        .cartElements { 

            .cartHeader {
                min-width: 250px;
                font-size: 20px;
                margin: 0
            }

            .cartFooter {
                font-size: 20px;
                margin: 0;
            }

            .cartList {
                width: auto;

                li {
                    padding: 0;
                }
            }

            .cartItems {

                .deleteIcon {
                    margin: 5px;
                }
            }
        }
    }

    .cartCard {
        div {
            padding: 0;
        }
        
        .cardContent {

            .productPhoto {

                img {
                    width: $size;
                    margin-right: 14px;
                }
            }
            

            .productDetails {
                height: 130px;
                width: 135px;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                h1 {
                    font-size: 18px;
                }

                .editQty {

                    .inputNumber {
                        order: -1;

                        input {
                            text-align: center;
                            height: 35px;
                        }
                    }
                }

                .amount {
                    font-size: 18px;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: auto;
        }
    }
}