@import "../../../App.module.scss";

@mixin margins {
    margin: 20px 0;
}

.designs {
    display: flex;
    justify-content: space-around;
    color: $font-color-dark;
    max-width: 1400px;
    margin: auto;

    .msgSection {
        width: 500px;
    }

    .mainMsg {
        @include margins();
        font-size: 60px;
    }

    .secondMsg {
        @include margins();
        margin-bottom: 40px;
        font-size: 25px;
        font-family: $font-family-secundary;
    }

    .btn {
        @include margins();
        color: $font-color-dark;
        border: solid 2px $font-color-dark; 
        font-size: 20px;
        padding: 10px 20px;
        text-decoration: none;
    }

    .designsGrid {
        @include margins();
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px; 
        column-gap: 20px;
        row-gap: 25px;
    }
}

@media only screen and (max-width: 925px) {
    .designs {
        flex-direction: column;
        text-align: center;

        .msgSection {
            width: auto;
        }

        .mainMsg {
            font-size: 45px;
        }

        .secondMsg {
            margin-bottom: 20px;
            font-size: 20px;
        }

        .btn {
            position: absolute;
            visibility: hidden;
            z-index: -1;
        }

        .designsGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto; 
            align-self: center;
        }
    }
}