@import '../../App.module.scss';

.navBar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 25px;
    background-color: white;
    color: $bg-dark-color;
    top: 0%;
    z-index: 1;
}

.navBarMenu {
    display: flex;
    align-items: center;

    a {
        font-family: $font-family-terciary;
        margin-right: 30px;
        font-size: 20px;
        letter-spacing: 1.2px;
        color: $font-color-dark;
        text-decoration: none;
    }

    .menuLink {
        min-width: 550px;
        a:hover {
            border-bottom: $font-color-dark 5px solid;
        }

        .actualLink {
            border-bottom: $font-color-dark 5px solid; 
        }
    }

    .logo {
        width: 150px;
        padding-top: 8px;
        
    }

    .shoppingCart {
        margin: 25px;

        svg {
            width: 25px;
            height: 25px;
        }
    }
}