@import '../../App.module.scss';

.navBar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 25px;
    background-color: white;
    color: $bg-dark-color;
    top: 0%;
    z-index: 1;
}

.navBarMenu {
    display: flex;
    align-items: center;

    a {
        font-family: $font-family-terciary;
        margin-right: 30px;
        min-width: fit-content;
        font-size: 20px;
        letter-spacing: 1.2px;
        color: $font-color-dark;
        text-decoration: none;

        &:hover {
            border-bottom: 5px inset $bg-dark-color ;
        }
    }

    .logo {
        width: 150px;
        padding-top: 8px;
        
    }
}