@import '../../App.module.scss';

.footer {
    background-color: $bg-dark-color;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;

    .socialMedia {
        display: flex;
        justify-content: center;
        margin: 10px auto;
    
        span {
            margin: 0 12px;
            padding: 6px;
            background-color: white;
            border-radius: 50%;

            svg {
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: transform 200ms;
    
                &:hover {
                    transform: scale(1.05);
                }
            }
            
        }
     }
    
    .copyright {
        margin-top: 8px;
        font-family: $font-family-terciary;
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .footer {
        
        .socialMedia {
        
            span {
    
                svg {
                    width: 25px;
                    height: 25px;
        
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                
            }
         }
        
        .copyright {
            font-size: 12px;
        }
    }
}
