@import "../../../App.module.scss";

.welcome {
    position: relative;
    padding-bottom: 11vw;
    background-color: $bg-dark-color;


    img {
        width: 100vw;
    }
}

.welcomeHeader {
    position: absolute;
    color: $font-color-dark;
    width: 40vw;
    top: 5%;
    right: 5%
}

.mainMsg {
    font-size: 6vw;
    line-height: 6vw;
}

.colored {
    color: $font-color-pink;
}

.secondMsg {
    margin-top: 10px;
    font-size: 2vw;
    color: $font-color-pink
}