$font-color-pink: #e56089;
$font-color-dark: #20333f;
$bg-yellow-color: #fff8bc;
$bg-dark-color: #0f171c;
$filter-bg-dark-color: invert(5%) sepia(4%) saturate(6336%) hue-rotate(161deg) brightness(96%) contrast(92%);
$filter-to-white: invert(100%) sepia(100%) saturate(8%) hue-rotate(194deg) brightness(106%) contrast(100%);
$error-color: #fc3232;
$font-family-main: 'Anton', sans-serif;
$font-family-secundary: 'Archivo Black', sans-serif;
$font-family-terciary: 'Titillium Web', sans-serif;
$footer-height: 150px;

* {
    font-family: $font-family-main;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

.App {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.contentWrap {
    padding-bottom: $footer-height
}