@import './../../../App.module.scss';

.header {
    display: flex;
}

.userMenu {
    color: white;
    position: absolute;
    right: 0%;
    background-color: $bg-dark-color;
    height: 99%;
    width: 250px;
    padding: 10px 25px;
    font-size: 22px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 500ms
}

.slideIn {
    transform: translateX(0)
}

.userBtn {
    z-index: 1;
}